<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie - MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add a Movie for {{ user.name }}</h1>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
             <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

        <form action="{{ url_for('add_movie', user_id=user_id) }}" method="POST">
            <label for="movie_name">Movie Name:</label>
            <input type="text" id="movie_name" name="movie_name" required>
            <button type="submit">Add Movie</button>
        </form>

        <a class="link-button" href="{{ url_for('user_movies', user_id=user.user_id) }}">Back to {{ user.name }}'s Movies</a>
    </div>
</body>
</html>
